
.logoutForm,
.loginForm {
    padding: 30px;
}

.inputWrapper {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.buttonWrapper {
    text-align: center;
}

.buttonWrapper span {
    margin-right: 3%;
}